extends layouts/layout

block content
  h1= title
  p Welcome to StuQ Koa小班课！
  div
    a(href='/users/register') 注册 
    span |
    a(href='/users/login') 登录 
    span |
    a(href='/users/logout') 销毁